<footer>
    <div id="contactos">
        <h4>Contactos</h4>
        <div>
          <a id="facebook" href="#"></a>
          <a id="twitter" href="#"></a>
          <a id="instagram" href="#"></a>
        </div>
  
      </div>

    <a id="logo-footer" href="/"><img src="../img/logos/LogoMio2.svg" alt=""></a>
</footer>