<nav>
    <a href="/"><img id="logo" src="../img/logos/LogoMio.svg" alt="Logo de Pagina"></a>
    <div id="separador"></div>
    <ul id="menu">
      <li><a href="/juegos">Juegos</a></li>
      <li><a href="/noticias">Noticias</a></li>
    </ul>
    <div id="buscador"> 
      <img id="icono-buscar" src="../img/logos/Buscar.svg" alt="">
      <form action="/busqueda" method="GET">
        <input type="text" name="nombre" placeholder="Nombre de Juego">
      </form>
    </div>
</nav>