<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('../partials/head.ejs')%>
    <link rel="stylesheet" href="../css/noticias_style.css">
    <title>Noticias</title>
</head>
<body>
    <%-include('../partials/nav.ejs')%>
    <main>
        <section id="noticias">
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem, ipsum dolor.</h2>
                </div>     
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, recusandae.</p>
            </div>
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                </div>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad doloribus autem eius? Expedita!</p>
            </div>
            <div class="noticias2">
                <div class="titulo2">
                    <h2>Lorem, ipsum.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus molestiae hic ipsum culpa cupiditate similique, quo quod expedita aliquid.</p>
            </div>
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum ullam ab libero facilis cumque illum enim quis quisquam at ipsum, amet molestias non, ex repellat commodi fugiat totam corporis.</p>
            </div>

            <div class="noticias2">
                <div class="titulo2">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dicta cum inventore eveniet vitae obcaecati.</p>
            </div>
            
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nobis.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa non ipsa exercitationem, odio, quo dolorum vel est nam sint in error nisi ducimus. Aut commodi nisi amet provident, velit voluptate vitae laboriosam quam quia ab id laborum adipisci, dolore accusamus dicta quis ut neque aliquid voluptatibus sunt. Quae molestiae nisi molestias nam quas est blanditiis animi tenetur unde excepturi? Repellendus sed dignissimos officia culpa tempore omnis autem, quisquam aut nisi eos eveniet voluptatem sunt tempora molestiae ad suscipit earum minima rerum veniam labore id minus harum placeat? Vitae a, molestias assumenda distinctio provident nihil odio adipisci aperiam porro in deserunt.</p>
            </div>

 

            
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nobis.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa non ipsa exercitationem, odio, quo dolorum vel est nam sint in error nisi ducimus. Aut commodi nisi amet provident, velit voluptate vitae laboriosam quam quia ab id laborum adipisci, dolore accusamus dicta quis ut neque aliquid voluptatibus sunt. Quae molestiae nisi molestias nam quas est blanditiis animi tenetur unde excepturi? Repellendus sed dignissimos officia culpa tempore omnis autem, quisquam aut nisi eos eveniet voluptatem sunt tempora molestiae ad suscipit earum minima rerum veniam labore id minus harum placeat? Vitae a, molestias assumenda distinctio provident nihil odio adipisci aperiam porro in deserunt.</p>
            </div>
        </section>

    </main>
    <%-include('../partials/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>