<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('../partials/head.ejs')%>
    <link rel="stylesheet" href="../css/noticias_style.css">
    <title>Noticias</title>
</head>
<body>
    <%-include('../partials/nav.ejs')%>
    <main>
        <section id="noticias">
            <div class="noticias1">
                <div class="titulo">
                    <h2>¡Posible leak de Dark Souls 4!</h2>
                </div>     
                
                <p>Se rumorea un posible Dark Souls 4, gracias a que un developer filtro sin querer una imagen donde se puede ver de fondo en una computadora codigo fuente en donde
                    se menciona “ds4 - new_engine”.</p>
            </div>
            <div class="noticias1">
                <div class="titulo">
                    <h2>¡Accidente en las oficinas de Bioware!</h2>
                </div>
                
                <p>Ocurrio un incendio en las oficinas de Bioware el martes pasado. No hubo muertos, pero los servidores se vieron afectados ocacionando perdidas de datos, segun el jefe
                    de desarrollo se perdio un 30% del trabajo hecho.</p>
            </div>
            <div class="noticias2">
                <div class="titulo2">
                    <h2>Nueva interfaz de steam</h2>
                </div>
                
                <p>Despues de tantos años por fin Valve actualiza la interfaz en steam. Los usuarios de steam llevaban mucho tiempo quejandose de lo anticuada que era la interfaz, luego
                    de varios años por fin Valve se dispuso a actualizarla. Añadidos como una mejora visual, un buscador mas eficiente y mas informacion mejor presentada son unas 
                    de las cosas que trajo la actualizacion.</p>
            </div>
            <div class="noticias1">
                <div class="titulo">
                    <h2>El nuevo juego de Nintendo supera las 1.000.000 ventas en Switch</h2>
                </div>
                
                <p>El nuevo juego de nintendo “No se que” supera las 1.000.000 ventas en la primer semana despues de su lanzamiento.</p>
            </div>

            <div class="noticias2">
                <div class="titulo2">
                    <h2>Nueva interfaz de steam</h2>
                </div>
                
                <p>Despues de tantos años por fin Valve actualiza la interfaz en steam. Los usuarios de steam llevaban mucho tiempo quejandose de lo anticuada que era la interfaz, luego
                    de varios años por fin Valve se dispuso a actualizarla. Añadidos como una mejora visual, un buscador mas eficiente y mas informacion mejor presentada son unas 
                    de las cosas que trajo la actualizacion.</p>
            </div>
            
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nobis.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa non ipsa exercitationem, odio, quo dolorum vel est nam sint in error nisi ducimus. Aut commodi nisi amet provident, velit voluptate vitae laboriosam quam quia ab id laborum adipisci, dolore accusamus dicta quis ut neque aliquid voluptatibus sunt. Quae molestiae nisi molestias nam quas est blanditiis animi tenetur unde excepturi? Repellendus sed dignissimos officia culpa tempore omnis autem, quisquam aut nisi eos eveniet voluptatem sunt tempora molestiae ad suscipit earum minima rerum veniam labore id minus harum placeat? Vitae a, molestias assumenda distinctio provident nihil odio adipisci aperiam porro in deserunt.</p>
            </div>

 

            
            <div class="noticias1">
                <div class="titulo">
                    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nobis.</h2>
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa non ipsa exercitationem, odio, quo dolorum vel est nam sint in error nisi ducimus. Aut commodi nisi amet provident, velit voluptate vitae laboriosam quam quia ab id laborum adipisci, dolore accusamus dicta quis ut neque aliquid voluptatibus sunt. Quae molestiae nisi molestias nam quas est blanditiis animi tenetur unde excepturi? Repellendus sed dignissimos officia culpa tempore omnis autem, quisquam aut nisi eos eveniet voluptatem sunt tempora molestiae ad suscipit earum minima rerum veniam labore id minus harum placeat? Vitae a, molestias assumenda distinctio provident nihil odio adipisci aperiam porro in deserunt.</p>
            </div>
        </section>

    </main>
    <%-include('../partials/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>